.main-body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.navbar-brand{
    font-family:'Roboto', sans-serif;
    font-weight:bolder;
    margin: 0.8rem 3rem;
}
.navbar-nav {
    position: relative;
    margin-left: 30rem;
}
.navbar-nav .nav-item a{
    margin-left: 2rem;
    font-weight: bold;
}
.main-card{
    position: relative;
    margin:8rem 7.5rem;
    color: black;
}
.whykredx span{
    color: rgb(0, 204, 255);
}
.sub-card{
    position: relative;
    margin:1rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.sub-card .card{
    position: relative;
    width: 220px;
    height:220px;
    margin: 1.75rem;
    cursor: pointer;
    border:none;

}
.sub-card .card:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
    z-index:100;
}

.sub-card .card-img-top{
    width:3rem;
    height: 3rem;
    margin: 1rem;
}
.sub-card .card-body .card-title{
    font-weight: bold;
    height: 2.5rem;
}
.sub-card .card-body .card-text{
    color: gray;
    height: 2.5rem;
}
.black-box{
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(22, 21, 21);
}
.black-heading{
    text-align: center;
    color: white;
    padding: 6rem 0rem 2rem 0rem;
    font-weight: lighter;
}
.black-cards{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.black-cards .card{
    position: relative;
    margin: 2rem;
    cursor: pointer;
    background-color:rgb(22, 21, 21);
    border-bottom: 0.5px solid rgb(90, 90, 90);
}
.black-cards .card .card-title{
    color: white;
    font-weight: lighter;

}
.black-cards .card .card-text{
    color:rgb(0, 204, 255);
    font-size: 1.25rem;
    font-weight: lighter;
}
.black-cards .card:hover{
    transform: scale(1.05);
    z-index:100;
}
.contact{
    position: relative;
    margin:6rem 5rem 2rem 5rem;
}
.cotact-subheading{
    position: relative;
    display: flex;
    justify-content: center;
}
.conatct1{
    margin:2rem 4rem;
    font-weight: bold;
}
.footer{
    position: relative;
    background-color: rgb(22, 21, 21);
    display: flex;
    padding: 3rem 10rem;
    align-content: center;
}

.footer-text{
    font-size: 14px;
    color:white;
    margin-left: 30rem;
}
.login1{
    position: absolute;
    top: 15rem;
    right: 10rem;
    background-color: whitesmoke;
    border-radius: 1.5rem;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
    padding: 3rem 2rem;
    width:500px;
    height: 40rem;
    z-index: 150;
}
.login1-heading h5{
    font-weight: bold;
}
.form-select, .row input{
    border-radius: 10px;
}

.login1 .login1-details{
    padding: 1rem 1.5rem;
    margin: 3rem 0rem;
    border: 0.5px solid lightgrey;
    border-radius: 1rem;
}

.login1 .login1-details .form-select{
    margin: 0.5rem 0rem 1rem 0rem;
}

.login1-btn{
    position: absolute;
    padding: 0.5rem;
    right: 2.5rem;
    bottom: 4rem;
    width: 8rem;

}
.login1-btn button{
   color: rgb(0, 204, 255);
    width: 7.5rem;
    height: 3rem;
    border: 0.5px solid rgb(0, 204, 255);
    border-radius: 5px;
}

.login2{
    position: absolute;
    top: 15rem;
    right: 10rem;
    background-color: whitesmoke;
    border-radius: 1.5rem;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
    padding: 3rem 2rem;
    width:500px;
    height: 45rem;
    z-index: 150;
}
#secondlogin{
    display: none;
}
.login2-img{
    display: flex;
    justify-content: center;
}
.login2-form{
    margin-top: 2rem;
}
.login2-form input{
    border-radius: 10px;
}
.login2-btns{
    display: flex;
    justify-content: center;
    margin: 3.5rem 0rem;
}
.previous-btn button{
    position: absolute;
    padding: 0.5rem;
    font-size: 15px;
    color: rgb(0, 204, 255);
    border-radius: 7.5px;
    left:2rem;
    width: 8rem;
    border: 0.5px solid lightskyblue;
}

.login2-submit button{
    position: absolute;
    padding: 0.5rem;
    font-size: 15px;
    width: 8rem;
    background-color: black;
    color: white;
    border-radius: 7.5px;
    right:2rem;
}
.err-msg {
    color:red;
    display: none;
}


@media screen and (max-width:800px){
    .main-body{
        margin: 0;
        padding: 0;
        right: 0;
    }
    .sub-card{
        flex-direction: column;
        flex-wrap:nowrap;
        margin:1rem;
    }
    .login1{
        position: absolute;
        top: 15rem;
        right: 2rem;
        width:400px;
    }
}